@import "color";

@mixin mobile{
	@media screen and (max-width: 375px){
		@content;
	}
}

@include mobile {
	html,
	body{
		width:auto;
	}
	.wrapper{
		.header{
			width:90%;
			.logo{
				
				img{
					margin-top: 8%;
					height: 5%;
					width: 15%;
				}
			}
			.title{
				h1{
					font-size:25px;
				}
				p{
					font-size:15px;
				}
			}
		}
		form{
			width: 85%;
			flex-direction:column;
			.formInput{
				margin-top: 10%;
				margin-right: 0;
				input{
					font-size:0.8rem;
				}
				.formEmail{
					height: 50px;
					width: 100%;
					border-radius:100px;
					opacity:1;
					padding-left: 8%;
				}
				.formEmail::placeholder{
					font-size:0.8rem;
					color:$Gray;
				}
				.EmailCheck{
					width: 100%;
					padding-left: 8%;
					text-align: center;
				}
			}
			.formBtn{
				input{
					height:50px;
					width: 100%;
					border-radius: 100px;
					box-shadow: 0 15px 15px rgba(135,206,235,.7) ;
					background-color: $Blue;
				}
			}

		}
		.content{
			margin-top: 15%;
			img{
				height: 30%;
				width: 100%;
				padding:5%;
			}
		}

		footer{
			.footer-media{
				margin-top: 50%;
			}
		}
	}
}